### Tuple

Tuple is a sequence which stores a group of elements or items .

or tuples are used ti store multiple items in a single variable.

tuple is immutable, which is ordered and unchangeable.

methods
1) count()
2) index()

In [4]:
tuple1=(1,2,2,2,2,2,4,3,6,6,7)
print(sorted(tuple1))

[1, 2, 2, 2, 2, 2, 3, 4, 6, 6, 7]

In [9]:
# count()  Return number of occurrences of value.
tuple1=("a","c","c","a","b","b","c")
x=tuple1.count('a')
print(x)

2

In [12]:
tuple1=("a","c","c","a","b","b","c")
x={}
for i in tuple1:
    x[i]=tuple1.count(i)
print(x)

{'a': 2, 'c': 3, 'b': 2}

In [13]:
x=(1,2,3,3,3,3,3,3,4,4,4,5,6,6,7)
print({i:x.count(i) for i in set(x)})

{1: 1, 2: 1, 3: 6, 4: 3, 5: 1, 6: 2, 7: 1}

In [20]:
# index()Return first index of value. Raises ValueError if the value is not present.
tup=(1,2,3,4,5,6,7,4,5,6,9)
tup[0]
tup[3]

4

In [21]:
print(tup.index(3)) # position

2

In [22]:
tuple_1=("apple","banana","orange","apple","pineapple")
y=tuple_1.count('apple')
print(y)

2

In [23]:
tuple_1=("apple","banana","orange","apple","pineapple")
tup=tuple_1*3
print(tup)

('apple', 'banana', 'orange', 'apple', 'pineapple', 'apple', 'banana', 'orange', 'apple', 'pineapple', 'apple', 'banana', 'orange', 'apple', 'pineapple')

In [24]:
x=(1,2,3,4,5,)
y=x*3
print(y)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [25]:
tup1=(1,2,3,4,5,6,7,8)
print(len(tup1))

8

In [26]:
tup1=(1,4,5,3,6,7,1,12,4,6,8)
print(min(tup1))

1

In [27]:
tup1=(1,1,2,3,4,5,12,14)
print(max(tup1))

14

In [28]:
tup1=(1,1,2,3,4,5,12,14)
tup1=tup1[::-1]
print(tup1)

(14, 12, 5, 4, 3, 2, 1, 1)

In [31]:
tup1=("orange",[1,2,3],[4,5,6])
print(tup1[1])

2